<%= render "shared/header"%>

<body>
  <main class="main">
    <div class="inner">
      <div>
<%# ログインしてるときは以下を表示する %>
          <% if user_signed_in? %>
            <div class="greeting">
              <h2>こんにちは</h2>
              <%= link_to "#{current_user.nickname}さん", class: :greeting__link %>
              <div class="">
                <%= link_to "料理投稿", new_recipe_path, class: :greeting__link%>
              </div>
            </div>
            
<%# // ログインしているときは上記を表示する %>
          <% else %>
<%# ログインしていないときは以下を表示する %>
          <h2>あなたの冷蔵庫はきれいですか？</h2>
          <p>
            買い物に行ったのに食材を買い忘れた…<br>
            冷蔵庫を開けたら同じ食材を買っていた…<br>
            <b>こんなこと起きてませんか？</b>
          </p>
          <table class="table_rei">
            <tr>
              <th class="table_rei_q">食材</th>
              <th class="table_rei_q">分類</th>
              <th class="table_rei_q">賞味期限</th>
              <th class="table_rei_q">備考</th>
              <th class="table_rei_q">廃棄まで</th>
            </tr> 
            <tr>
              <td class="table_rei_a">豚肉</td>
              <td class="table_rei_a">肉類</td>
              <td class="table_rei_a">〇〇年○月○日</td>
              <td class="table_rei_a">トンカツ用</td>
              <td class="table_rei_a">賞味期限が過ぎています</td>
              <td class="table_rei_a">削除</td>
            </tr>
            <% end %>
      </div> 
<%# // ログインしていないときは上記を表示する %>
      </div>
        <% @recipes.each do |recipe| %>
          <li class='list'>
            <%= link_to recipe_path(recipe) do %>
              <div class=''>
                <%= image_tag recipe.image, class: "item-img" %>
              </div>
              <div class='item-info'>
                <h3 class='item-name'>
                  <%= recipe.name %>
                </h3>
              </div>
            <% end %>
          </li>
        <% end %>
      </div>
  </main>
    
</body>


<%= render "shared/footer" %>
