<header class="header">
  <div class="inner">
    <div class="nav">
      <div class="nav__left">
        <%= link_to "ICE-BOX", root_path, class: :btn_border_blur %>
      </div>
      <% if user_signed_in? %>
        <div class="nav__right">
          <%= link_to "ログアウト", destroy_user_session_path, class: :btn_hover_bottom %>
          <%= link_to "マイページ", edit_user_registration_path, class: :btn_hover_bottom %>
        </div>
      <% else %>
        <div class="nav__right">
          <%= link_to "ログイン", new_user_session_path, class: :btn_hover_bottom %>
          <%= link_to "新規登録", new_user_registration_path, class: :btn_hover_bottom %>
        </div>
      <% end %>
    </div>
  </div>
</header>