<%= render "shared/second.header"%>

<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">ユーザーログイン</h2>

      

      <%= form_with model: resource, as: resource_name, url: session_path(resource_name), local: true do |f|%>
      
      <%= render 'shared/error_messages', model: f.object %>  
      
      <div class='field'>
          <div class='field-label'>
            <%= f.label :email, "メールアドレス" %><br />
          </div>
          <div class='field-input'>
            <%= f.email_field :email, autofocus: true%>
          </div>
          <div class='field'>
            <div class='field-label'>
              <%= f.label :password, "パスワード（6文字以上）" %><br />
              <i>(英数字6文字以上)</i>
            </div>
            <div class='field-input'>
              <%= f.password_field :password, autocomplete: "off"%>
            </div>
          </div>
          <div class='actions'>
            <%= f.submit "ログイン", class: :form__btn %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>